{
  "presets": [
    [
      "playlyfe", {
        "react": false,
        "targets": {
          "node": "current",
        },
      }
    ]
  ],

  plugins: [
    ['module-resolver', { root: ['./src'] }],
  ],
}
